body {
    background-color: #ffffff	;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}


select {
    color: black;
    /*font-family: verdana;*/
    font-size: 20px;
}


option {
    color: black;
    /*font-family: verdana;*/
    font-size: 20px;
}

p {
    color: black;
    /*font-family: verdana;*/
    font-size: 20px;
}

p mark { 
    background-color: black;
    color: white;
}

ul{
    color: black;
    /*font-family: verdana;*/
    font-size: 20px;
}

div {
    color: black;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
    color: black;
    font-size: 20px;
}
th {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
    background-color: #808080;
    color: white;
    font-size: 24px;
    border-right: solid 1px #bbb; 
    border-left: solid 1px #bbb;
}

table tr:nth-child(even) {background: #a3a3a3;}
table tr:nth-child(odd) {background: #ffffff;}

td {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
    /*background-color: #ff9933;*/
    color: black;
    font-size: 20px;
    border-right: solid 1px #bbb; 
    border-left: solid 1px #bbb;
}

table.chat {
    border: none;
    font-size: 20px;
    table-layout: fixed;
    width: 600px;
}
table.chat th {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
    background-color: #ffffff;
    color: white;
    font-size: 24px;
    border-right: solid 1px #bbb; 
    border-left: solid 1px #bbb;
}

table.chat tr:nth-child(even) {background: #a3a3a3;}
table.chat tr:nth-child(odd) {background: #ff9933;}

table.chat td {
    border-top: none;
    border-bottom: solid 1px #bbb;
    padding: 4px 8px;
    /*background-color: #ff9933;*/
    color: black;
    font-size: 20px;
    border-right: none; 
    border-left: none;
    background-color: gray;
    width: 45px;
}

table.chat td.separator {
    border-top: none;
    border-bottom: none;
    padding: 4px 8px;
    /*background-color: #ff9933;*/
    color: white;
    font-size: 20px;
    border-right: none; 
    border-left: none;
    background-color: #ffffff;
    width: 45px;
}

table.chat td.hidden {
    border-top: none;
    border-bottom: none;
    padding: 4px 8px;
    /*background-color: #ff9933;*/
    color: #ffffff;
    font-size: 20px;
    border-right: none; 
    border-left: none;
    background-color: #ffffff;
}


a {
    color: black;
    font-size: 18px;
}

li:hover {
	background-color: #202020
}


mark { 
    background-color: black;
    color: white;
}

fieldset{
    width:340px;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    font-size: 20px;
}

header {
    padding: 1em;
    color: white;
    /*background-color: white;*/
    background-image: url('/img/logo_new2.png');
    background-repeat: no-repeat;
    background-position: 55% 58%;
    background-size: 85%;
    min-height: 200px;
    clear: left;
    text-align: center;
    vertical-align: bottom;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 1.3em;
    /*font-size: 20px;*/
}

header a {
    color: white;
}

messages {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
    font-size: 16px;
}

nav {
    float: left;
    max-width: 220px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    color: white;
    background-color: white;
}

nav li {
    background-image: url('/img/logo_new2.png');
    background-repeat: no-repeat;
    background-position: 55% 58%;
    background-size: 120%;
}
   
nav ul a {
    text-decoration: none;
    color: white;
}

article {
    margin-left: 220px;
    /*border-left: 1px solid gray;*/
    padding: 1em;
    overflow: hidden;
}

guidance {
    float: right;
    max-width: 200px;
    margin-right: 200px;
    padding: 1em;
}

guidance ul {
    list-style-type: none;
    padding: 0;
}

#loginContent { width: 350px; margin: 100px auto; }
      button[type] { margin: 0.5em 0; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
    padding: 0;
}

